*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

p {
	line-height: 1.4;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

a {
	text-decoration: none;
}

nav a {
	text-transform: uppercase;
}

/* --- Font & Color --- */

/* Oswald Bold */
.oswald--bold {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
}

.ob--18px {
	font-size: 1.125rem;
}

.ob--90px {
	font-size: 3.125rem;
}

.ob--24px {
	font-size: 1.25rem;
}

.ob--30px {
	font-size: 1.875rem;
}

.ob--36px {
	font-size: 2.25rem;
}

.ob--21px {
	font-size: 1.3125rem;
}

.footer__text h3,
.footer__nav h3 {
	font-family: "Oswald", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 1.3125rem;
}

/* Montserrat Regular */
.montserrat--regular {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.mr--24px {
	font-size: 1.2rem;
}

.mr--18px {
	font-size: 1.125rem;
}

.mr--21px {
	font-size: 1.1875rem;
}

.mr--16px {
	font-size: 1rem;
}

.footer__text p {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	font-size: 1rem;
}

/* COLOR  */

.color--gold {
	color: #a59678;
}

header {
	background-color: #2e323f;
}

.nav a,
.hero,
.hero__button,
.sidebar,
footer,
.footer__a {
	color: white;
}

.hero__button {
	background-color: #a59678;
}

.hero,
footer,
.sidebar {
	background-color: #3b4050;
}

.threeContent {
	background-color: #f1f1f1;
}

.content {
	background-color: #ffffff;
}

/* --- Layout --- */

body {
	display: flex;
	flex-direction: column;
}

.container {
	width: 90%;
	margin: 0 auto;
}

header {
	padding: 1em 0;
}

.hero {
	min-height: calc(100vh - 6em);
}

/* NAV */
.nav__toggle {
	cursor: pointer;
	width: 3em;
	height: 3em;
	background-color: #a59678;
	padding: 0;
	border: 0;
	border-radius: 50%;
	position: absolute;
	left: 3em;
	top: 2em;
}

.hamburger {
	width: 60%;
	position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
	display: block;
	margin: 0 auto;
	height: 3px;
	background-color: white;
}

.hamburger::before,
.hamburger::after {
	width: 100%;
	content: "";
	display: block;
	position: absolute;
}

.hamburger::before {
	top: -6px;
}

.hamburger::after {
	top: 6px;
}

header {
	min-height: 6em;
}

nav {
	text-align: center;
	display: none;
}

.nav__li {
	padding-bottom: 2em;
}

.nav__li--last {
	padding-bottom: 1em;
}

.nav__a {
	transition: opacity 250ms ease;
}

.nav__a:hover,
.nav__a:focus {
	opacity: 0.75;
	border-bottom: 2px solid white;
}

.nav__a:active {
	color: #a59678;
	border-bottom: 2px solid #a59678;
}

.nav__a--last {
	padding: 0.5em 1em;
	background-color: #a59678;
	border-radius: 1em;
}

.nav__a--last:hover,
.nav__a--last:focus {
	border: none;
}

.nav__a--last:active {
	color: #2e323f;
}

/* Hero */

.hero {
	padding: 2em 0 3em 0;
	display: flex;
	align-items: center;
}

/* .hero .container {
	display: flex;
	flex-direction: column;
} */

.hero__title {
	margin-top: 0;
}

.hero__button {
	border: 0;
	padding: 0.25em 0.75em;
	border-radius: 1em;
	cursor: pointer;
	transition: opacity 250ms ease;
}

.hero__button:hover,
.hero__focus {
	opacity: 0.75;
}

.hero__button:active {
	color: #3b4050;
}

/* Three Contents */

.threeContent {
	padding: 2em 0;
	text-align: center;
}

.threeContent__title {
	margin: 0;
}

.threeContent__title + p {
	margin-bottom: 1.5em;
}

/* Content */

.content {
	padding: 2em 0;
	text-align: center;
}

.content__title {
	margin: 0;
}

.image {
	margin: 1em 0;
}

.image,
img {
	width: 100%;
}

/* Sidebar */

.sidebar {
	padding: 2em 0;
	text-align: center;
}

.sidebar__title {
	margin: 0;
	font-size: 1.75rem;
}

.sidebar p {
	margin-bottom: 1.5em;
	text-align: center;
	font-size: 1.0625rem;
}

.sidebar__p--last {
	margin-top: 3em;
}

/* Footer */

footer {
	border-top: 5px solid #a59678;
	padding: 2em 0;
}

.footer__title {
	font-size: 2rem;
	text-align: center;
	margin: 0;
}

.footer__nav {
	display: flex;
	justify-content: space-between;
}

.footer__grup h3 {
	margin: 0;
	text-align: center;
}

.footer__li {
	padding-bottom: 1em;
}

.footer__a {
	transition: opacity 250ms ease;
	/* transition: border-bottom 250ms ease; */
}

.footer__a:hover,
.footer__a:focus {
	opacity: 0.75;
	border-bottom: 2px solid white;
}

.footer__a:active {
	color: #a59678;
	border-bottom: 2px solid #a59678;
}

@media (min-width: 700px) {
	.ob--90px {
		font-size: 5.625rem;
	}

	.mr--21px {
		font-size: 1.3125rem;
	}

	.mr--24px {
		font-size: 1.5rem;
	}

	.ob--24px {
		font-size: 1.5rem;
	}
}
